
/*  css */

*{
    margin:0;
}
body{
	background-color: #2F2F2F;
}
.siteMapWrapper{
    max-width:900px;
    margin:80px auto;
}
.siteMapWrapper li{
    position: relative;
    width: 112px;
    height: 112px;
    list-style:none;
    margin: 5px;
    display: inline-block;
    perspective: 300px;
  }
  .picBox{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -56px;
    animation: 200ms ease-out 0ms 1 normal forwards;
  }

.show,
.hide{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

.sitemap-sub-title{
	white-space: nowrap;
	font-weight: bold;
	color: #3c4858;
	line-height: 1.3;
	box-sizing: border-box;
	max-height: 2rem;
	font-size: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sitemap-sub-intro{
  margin: 0.3rem 0 0 0;
  max-height: 2rem;
  font-size: 0.85rem;
  line-height: 1.2;
  color: #718096;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hide{
    color:#fff;
    background-color:#fff;
    text-align:center;
    line-height:112px;
    transform: translate3d(0,0,-1px);
    /* 3D */
}

.sitemapCard{
	height: 100%;
	width: 100%;
	padding: 7%;
	background: #fffdfb;
}

.sitemap-avatar-container, .sitemap-intro{
	height: 35%;
	width: 100%;
	padding: 4%;
}

.sitemap-avatar{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.sitemap-avatar img{
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;

	bottom: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.hide-sitemap-screenshot img{
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.in-top .hide,
.out-top .hide
 {
    transform-origin: 0% 100%;
    transform: translate3d(0, -100%, 0) rotate3d(1,0,0,90deg);
}
.in-top .picBox{
    animation-name: in-top;
    animation-play-state: running;
}
.out-top .picBox{
    animation-name: out-top;
    animation-play-state: running;
}
@keyframes in-top {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(-1,0,0,90deg)}
} 

@keyframes out-top {
    from {transform: rotate3d(-1,0,0,90deg)}
    to   {transform: rotate3d(0,0,0,0deg)}
}
.in-right .hide,
.out-right .hide {
          transform-origin: 0% 0%;
          transform: translate3d(100%, 0, 0) rotate3d(0,1,0,90deg);
}
.in-right .picBox{
    animation-name: in-right;
    animation-play-state: running;
}
.out-right .picBox{
    animation-name: out-right;
    animation-play-state: running;
}
@keyframes in-right {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(0,-1,0,90deg)}
}

@keyframes out-right {
    from  {transform: rotate3d(0,-1,0,90deg)}
    to    {transform: rotate3d(0,0,0,0deg)}
}

.in-bottom .hide,
.out-bottom .hide {
          transform-origin: 0% 0%;
          transform: translate3d(0, 100%, 0) rotate3d(-1,0,0,90deg);
}
.in-bottom .picBox{
    animation-name: in-bottom;
    animation-play-state: running;
}
.out-bottom .picBox{
    animation-name: out-bottom;
    animation-play-state: running;
}
@keyframes in-bottom {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(1,0,0,90deg)}
}
@keyframes out-bottom {
    from  {transform: rotate3d(1,0,0,90deg)}
    to    {transform: rotate3d(0,0,0,0deg)}
}
.in-left .hide,
.out-left .hide {
          transform-origin: 100% 0;
          transform: translate3d(-100%,0,0) rotate3d(0,-1,0,90deg);
}
@keyframes in-left {
    from  {transform: rotate3d(0,0,0,0deg)}
    to    {transform: rotate3d(0,1,0,90deg)}
}
@keyframes out-left {
    from  {transform: rotate3d(0,1,0,90deg)}
    to    {transform: rotate3d(0,0,0,0deg)}
}
.in-left .picBox{
          animation-name: in-left;
          animation-play-state: running;
}
.out-left .picBox{
          animation-name: out-left;
          animation-play-state: running;
}
